---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Brilli, a Experienced Frontend Developer from Indonesia 🇮🇩.
      <br />
      <br />
      My primary tools and skills includes:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>Typescript</li>
        <li>Next.js</li>
        <li>Vue.js</li>
        <li>Tailwind CSS</li>
        <li>Shopify Liquid</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      This technical acumen, paired with a dedication to user interface artistry, drives our success in delivering impactful digital solutions.
      Combined with my ability to manage teams, time, and code reviews, makes me a valuable asset to any development team. 
      I'm dedicated to staying at the forefront of web development trends.
    </p>
  </div>
</Card>
